@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f8f9fa;
}

main {
  width: 100%;
  min-height: calc(100vh - 64px);
  position: relative;
}
